header {
  background-color: black;
  color: white;
}

nav {
  background-color: rgb(179, 249, 249);
}

section {
  background-color: rgb(244, 244, 187);
}

aside {
  background-color: rgb(223, 195, 249);
}

footer {
  background-color: rgb(174, 243, 220);
}
