header,
footer {
  padding: 15px;
  background: #afafaf;
  background: -moz-linear-gradient(top #afafaf, rgb(145, 206, 226));
  background: -webkit-linear-gradient(#afafaf 0%, rgb(145, 206, 226));
  background: -o-linear-gradient(#afafaf 0%, rgb(145, 206, 226));
}

h1 {
  color: rgb(248, 234, 251);
  text-align: center;
  font-size: 200%;
}
body {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
}

.half {
  width: 45%;
  margin-right: 2%;
  display: inline-block;
}

.whole {
  clear: both;
}

nav a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  padding: 10px;
  background: white;
}

nav {
  text-align: center;
}
section {
  width: 30%;
  display: inline-block;
  float: left;
  margin-right: 2%;
}

h2 {
  background-color: rgb(212, 238, 230);
  padding: 5px;
}

details {
  color: rgb(10, 49, 49);
  font-style: italic;
}

summary {
  font-style: normal;
}

footer {
  padding: 5px;
  clear: both;
  position: relative;
}

img {
  width: 80px;
  height: 70px;
}
